<!DOCTYPE html>
<html>
<head>
	<title>register</title>
</head>
<body>

<b>register</b>


 <form action="{% url 'socialapp:registeruser' %}" method="post">
        {% csrf_token %}
        <label for="username" >username:</label><input type="text" name="username" id="username" value="{{username}}" /></br>
        <label for="email" >email:</label><input type="text" name="email" id="email" value="{{email}}" /></br>
        <label for="password" >password:</label><input type="text" name="password" id="password" value="{{password}}" /></br>
        <input type="submit" value="Register" />
        </form>

</body>
</html>
